@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #e5e5e5;
  color: #9333ea;
}

::-moz-selection {
  background-color: #e5e5e5;
  color: #9333ea;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #d8b4fe;
}

::-webkit-scrollbar-thumb {
  background-color: #9333ea;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7e22ce;
}

h2 {
  text-align: center;
}

main {
  min-height: 90vh;
}

.divider {
  height: 64px;
  width: 100%;
  margin: auto;
  background-repeat: repeat-x;
  background: url('/divider.png');
}

.text {
  color: #e5e5e5;
}

.nav-item {
  --color: #9333ea;
  --thickness: 3px;
  --_g: #0000 25%, var(--color) 0;
  margin-left: 4px;
  padding: var(--thickness);
  background:
      conic-gradient(from 180deg at top var(--thickness) right var(--thickness), var(--_g)) var(--_i, 200%) 0 / 200% var(--_i, var(--thickness)) no-repeat,
      conic-gradient(at bottom var(--thickness) left var(--thickness), var(--_g)) 0 var(--_i, 200%) / var(--_i, var(--thickness)) 200% no-repeat;
  transition: .2s, background-position .2s .2s;
  cursor: pointer;
}

.nav-item:hover {
  --_i: 100%;
  transition: .3s, background-size .2s .2s;
  color: #9333ea;
  font-weight: 600;
}

.logo {
  min-width: 256px;
  max-width: 512px;
}

@media screen and (max-width: 768px) {
  main {
    min-height: 84vh;
  }
}

@media screen and (max-width: 576px) {
  main {
    min-height: 76vh;
  }
}
