@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #FAFAFA;
  color: #0F766E;
}

::-moz-selection {
  background-color: #FAFAFA;
  color: #0F766E;
}

h2 {
  text-align: center;
}

p {
  font-size: 1em;
}

main {
  min-height: 90vh;
}

.font-small {
  font-size: 0.8em;
}

.text {
  color: #FAFAFA;
  font-family: 'Tilt Neon';
  font-size: large;
}

.nav-item {
  --color: #14B8A6;
  --thickness: 3px;
  --_g: #0000 25%, var(--color) 0;
  margin-left: 4px;
  padding: var(--thickness);
  background:
      conic-gradient(from 180deg at top var(--thickness) right var(--thickness), var(--_g)) var(--_i, 200%) 0 / 200% var(--_i, var(--thickness)) no-repeat,
      conic-gradient(at bottom var(--thickness) left var(--thickness), var(--_g)) 0 var(--_i, 200%) / var(--_i, var(--thickness)) 200% no-repeat;
  transition: .2s, background-position .2s .2s;
  cursor: pointer;
}

.nav-item:hover {
  --_i: 100%;
  transition: .3s, background-size .2s .2s;
}

.logo {
  min-width: 256px;
  max-width: 512px;
}

@media screen and (max-width: 768px) {
  main {
    min-height: 84vh;
  }
}

@media screen and (max-width: 576px) {
  main {
    min-height: 76vh;
  }
}
