.subtitle {
  color: #ACFCD9;
}

.logo {
  width: 32px;
  height: 32px;
  margin: 4px;
}

.icon {
  color: #ACFCD9;
  font-size: 2.25em;
  margin-right: 8px;
}

.list {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .list {
    list-style-type: none;
    margin-left: -32px;
    text-align: center;
  }
}